################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/qywxmessage/bin/Debug/net6.0
/qywxmessage/obj
/.vs
